<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqa.cems.mapper.DeliverymanMapper">

    <resultMap id="BaseResultMap" type="com.wqa.cems.model.entity.Deliveryman">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="idNumber" column="id_number" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="DATE"/>
        <result property="idCardFrontImage" column="id_card_front_image" jdbcType="VARCHAR"/>
        <result property="idCardBackImage" column="id_card_back_image" jdbcType="VARCHAR"/>
        <result property="isOnline" column="is_online" jdbcType="VARCHAR"/>
        <result property="acceptingOrders" column="accepting_orders" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="completedOrders" column="completed_orders" jdbcType="INTEGER"/>
        <result property="averageRating" column="average_rating" jdbcType="DECIMAL"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="BaseResultMap1" type="com.wqa.cems.model.vo.DeliverymanVOResponse">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,user_id,id_number,phone_number,
        name,sex,birthday,
        id_card_front_image,id_card_back_image,is_online,
        accepting_orders,status,completed_orders,
        average_rating,create_time,update_time,
        isDelete
    </sql>
    <sql id="Base_Column_List1">
        id
        ,name
    </sql>
    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from deliveryman
    </select>
    <select id="selectIdByUserId" resultType="long">
        select id
        from deliveryman
        where user_id = #{userId,jdbcType=NUMERIC}
    </select>
    <update id="updateIsOnlineAndAcceptingOrdersByUserId">
        update deliveryman
        set is_online        = #{isOnline,jdbcType=VARCHAR},
            accepting_orders = #{acceptingOrders,jdbcType=VARCHAR}
        where user_id = #{userId,jdbcType=NUMERIC}
    </update>
    <update id="updateAcceptingOrdersById">
        update deliveryman
        set accepting_orders = #{acceptingOrders,jdbcType=VARCHAR},
            completed_orders = completed_orders + 1
        where id = #{id,jdbcType=NUMERIC}
    </update>
    <select id="selectAllByIsOnlineAndAcceptingOrdersAndStatus" resultMap="BaseResultMap1">
        select
        <include refid="Base_Column_List1"/>
        from deliveryman
        where
        is_online = '是'
        AND accepting_orders = '未接单'
        AND status = '正常'
    </select>
    <select id="selectCompletedOrdersAndAverageRatingById" resultType="decimal">
        select average_rating
        from deliveryman
        where id = #{id,jdbcType=NUMERIC}
    </select>
    <update id="updateAverageRatingById">
        update deliveryman
        set average_rating = #{averageRating,jdbcType=DECIMAL}
        where id = #{id,jdbcType=NUMERIC}
    </update>
</mapper>
